---
http_interactions:
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Harry%20Potter%22%20football&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Harry Potter\"
      football"},"Web":{"Total":2740000,"Offset":0,"Results":[{"Title":"Football -
      Harry Potter Wiki","Description":"In Harry Potter and the Philosopher''s Stone,
      Dean Thomas yells for a red card when Harry Potter was almost knocked off his
      broom in a Quidditch match, which is a serious offence in football. Because
      \"football\" means something different in the United States ...","Url":"http:\/\/harrypotter.wikia.com\/wiki\/Football","CacheUrl":"http:\/\/cc.bingj.com\/cache.aspx?q=%22harry+potter%22+football&d=4749383884081010&w=e6817b15,da62e3f4","DisplayUrl":"harrypotter.wikia.com\/wiki\/Football","DateTime":"2012-02-12T17:37:00Z"},{"Title":"Harry
      Potter Gryffindor Football Tee - 277532","Description":"ShopWiki has 29 results
      for Harry Potter Gryffindor Football Tee - 277532, including Harry Potter Gryffindor
      Crest Women''s Fitted T-Shirt, Harry Potter Gryffindor Tee, Harry Potter Gryffindor
      Potter Women''s Fitted T-Shirt from Warner Bros., and Harry ...","Url":"http:\/\/www.shopwiki.com\/l\/Harry-Potter-Gryffindor-Football-Tee-%7E-277532","CacheUrl":"http:\/\/cc.bingj.com\/c[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Harry%20Potter%22%20basketball&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Harry Potter\"
      basketball"},"Web":{"Total":2230000,"Offset":0,"Results":[{"Title":"Harry Potter
      Basketball Nig[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Harry%20Potter%22%20quidditch&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Harry Potter\"
      quidditch"},"Web":{"Total":437000,"Offset":0,"Results":[{"Title":"Quidditch
      - Wikipedia, the fre[...]
