---
http_interactions:
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22David%20Beckham%22%20football&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"David Beckham\"
      football"},"Web":{"Total":1140000,"Offset":0,"Results":[{"Title":"David Beckham
      | Profile | News | Stats - Yahoo! Eurosport UK","Description":"View David Beckham
      profile on Yahoo! Eurosport UK. Find the latest David Beckham news, stats, photos,
      titles, clubs, goals and more. ... Global Football News FA Cup League Cup Copa
      América 2011 Women''s World Cup Euro U21 Early Doors ...","Url":"http:\/\/uk.eurosport.yahoo.com\/football\/david-beckham.html","CacheUrl":"http:\/\/cc.bingj.com\/cache.aspx?q=%22david+beckham%22+football&d=4528592513861133&w=424f2c50,f5515a17","DisplayUrl":"uk.eurosport.yahoo.com\/football\/david-beckham.html","DateTime":"2012-02-18T02:49:00Z"},{"Title":"David
      Beckham - Wikipedia, the free encyclopedia","Description":"7 David Beckham Academy
      8 Personal life 8.1 Affair claims 8.2 Legal issues 9 Fame beyond football 10
      Charitable work 11 Appearances in films 11.1 Bend It Like Beckham ... At the
      beginning of the 1996–97 season David Beckham was given the ...","Url":"http:\/\/en.wikipedia.org\/wiki\/David_Beckham","CacheUrl":"http:\/\/cc.bingj.com\/cache.aspx?q=%22david+beckham%22+football&d=[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22David%20Beckham%22%20basketball&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"David Beckham\"
      basketball"},"Web":{"Total":526000,"Offset":0,"Results":[{"Title":"Beckham Basketball
      - YouTu[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22David%20Beckham%22%20quidditch&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"David Beckham\"
      quidditch"},"Web":{"Total":13500,"Offset":0,"Results":[{"Title":"David Beckham:
      Soccer Star Re[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Harry%20Potter%22%20football&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Harry Potter\"
      football"},"Web":{"Total":2740000,"Offset":0,"Results":[{"Title":"Football -
      Harry Potter Wiki","[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Harry%20Potter%22%20basketball&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Harry Potter\"
      basketball"},"Web":{"Total":2230000,"Offset":0,"Results":[{"Title":"Harry Potter
      Basketball Nig[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Harry%20Potter%22%20quidditch&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Harry Potter\"
      quidditch"},"Web":{"Total":437000,"Offset":0,"Results":[{"Title":"Quidditch
      - Wikipedia, the fre[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Jeremy%20Lin%22%20football&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Jeremy Lin\"
      football"},"Web":{"Total":1360000,"Offset":0,"Results":[{"Title":"Jeremy Lin
      dominates flag football"[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Jeremy%20Lin%22%20basketball&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Jeremy Lin\"
      basketball"},"Web":{"Total":1100000,"Offset":0,"Results":[{"Title":"Jeremy Lin
      - Wikipedia, the fre[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Jeremy%20Lin%22%20quidditch&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Jeremy Lin\"
      quidditch"},"Web":{"Total":1250,"Offset":0,"Results":[{"Title":"Quidditch: America''s
      Newest Sensation - Photos - SI.com","Description":"Quidditch: America''s Newest
      Sensation ... Photo GalleryThe Jeremy Lin Fan Club Posted: 02-14-201219 Photos
      Photo GalleryAthletes Getting Married Posted: 02-14-201239 Photos Photo GalleryU.S.
      Olympic Table Tennis ...","Url":"http:\/\/sportsillustrated.cnn.com\/multimedia\/photo_gallery\/1107\/quidditch.college.campus\/content.6.html","CacheUrl":"http:\/\/cc.bingj.com\/cache.aspx?q=%22jeremy+lin%22+quidditch&d=4917050820267382&w=4f0efea0,cf69bd60","DisplayUrl":"sportsillustrated.cnn.com\/multimedia\/photo_gallery\/1107\/quidditch...","DateTime":"2012-02-16T03:05:00Z"},{"Title":"Kansas
      Quidditch Team Ranked 2nd in United States - Yahoo! Sports","Description":"A
      Quidditch team in Kansas is ranked 2 nd in the country for a competitive game
      that started in the famous Harry Potter series. It''s known as Quidditch but
      Muggles (non ... NBA team''s big regret: Waiving Jeremy Lin NBA team''s big
      regret: Waiving ...","Url":"http:\/\/sports.yahoo.com\/top\/news?slug=ycn-10325615","CacheUrl":"http:\/\/cc.bingj.com\/cache.aspx?q=%22jeremy+lin%22+quidditch&d=4869243535558666&w=1e902bcd,f0141067","DisplayUrl":"sports.yahoo.com\/top\/news?slug=ycn-10325615","DateTime":"2012-02-15T16:43:00Z"},{"Title":"Middlebury
      Celebrates Their Fifth Quidditch World Cup Win - Yahoo! Sports","Description":"Since
      the introduction of Quidditch in 2007, Middlebury has competed in and won every
      World Cu[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Michael%20Jordan%22%20football&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Michael
      Jordan\" football"},"Web":{"Total":1080000,"Offset":0,"Results":[{"Title":"Which
      football position did[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Michael%20Jordan%22%20basketball&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Michael
      Jordan\" basketball"},"Web":{"Total":2020000,"Offset":0,"Results":[{"Title":"Michael
      Jordan - Wikipe[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22Michael%20Jordan%22%20quidditch&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"Michael
      Jordan\" quidditch"},"Web":{"Total":19200,"Offset":0,"Results":[{"Title":"Classic
      YouTube: Richard Cockerill v Norm Hewitt, Michael Jordan, Ricky Ponting and
      Quidditch | Sport | guardian.co.uk","Description":"1) We''ve been waiting for
      someone to upload this clip for years. Making his first start in a Test match
      for England, Leicester''s Richard Cockerill decides to go eyeball-to-eyeball
      with All Black Norm Hewitt. Possibly the best response to the haka ever. Or
      the most stupid. England lost 25-8. 2) One","Url":"http:\/\/www.guardian.co.uk\/sport\/blog\/[...]
