---
http_interactions:
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22David%20Beckham%22%20football&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"David Beckham\"
      football"},"Web":{"Total":1140000,"Offset":0,"Results":[{"Title":"David Beckham
      | Profile | News | Stats - Yahoo! Eurosport UK","Description":"View David Beckham
      profile on Yahoo! Eurosport UK. Find the latest David Beckham news, stats, photos,
      titles, clubs, goals and more. ... Global Football News FA Cup League Cup Copa
      América 2011 Women''s World Cup Euro U21 Early Doors ...","Url":"http:\/\/uk.eurosport.yahoo.com\/football\/david-beckham.html","CacheUrl":"http:\/\/cc.bingj.com\/cache.aspx?q=%22david+beckham%22+football&d=4528592513861133&w=424f2c50,f5515a17","DisplayUrl":"uk.eurosport.yahoo.com\/football\/david-beckham.html","DateTime":"2012-02-18T02:49:00Z"},{"Title":"David
      Beckham - Wikipedia, the free encyclopedia","Description":"7 David Beckham Academy
      8 Personal life 8.1 Affair claims 8.2 Legal issues 9 Fame beyond football 10
      Charitable work 11 Appearances in films 11.1 Bend It Like Beckham ... At the
      beginning of the 1996–97 season David Beckham was given the ...","Url":"http:\/\/en.wikipedia.org\/wiki\/David_Beckham","CacheUrl":"http:\/\/cc.bingj.com\/cache.aspx?q=%22david+beckham%22+football&d=[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22David%20Beckham%22%20basketball&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"David Beckham\"
      basketball"},"Web":{"Total":526000,"Offset":0,"Results":[{"Title":"Beckham Basketball
      - YouTu[...]
- request:
    method: get
    uri: http://api.search.live.net/json.aspx?AppId=BING_API_KEY&query=%22David%20Beckham%22%20quidditch&sources=Web
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\"David Beckham\"
      quidditch"},"Web":{"Total":13500,"Offset":0,"Results":[{"Title":"David Beckham:
      Soccer Star Re[...]
